.company-info {
	height: 200px;
}

.project .row-header {
	padding-top: 10px; position: relative; margin: 0px 10px 10px 10px;
}

.project .row-header i.left {
	float: left;
}

.project .row-header span {
	float: left; margin: 3px 0 0 5px;
}

.project .row-header .hr {
	clear: both; width: 95%; border-bottom: 1px solid #e8e8e8; height: 10px; margin: 0 auto;
}

.project .row-content {
	min-height: 120px; padding: 0 10px 10px;
}

.member .row-header {
	padding-top: 10px; position: relative; margin: 0px 10px 10px 10px;
}

.member .row-header i.left {
	float: left;
}

.member .row-header span {
	float: left; margin: 3px 0 0 5px;
}

.member .row-header .hr {
	clear: both; width: 95%; border-bottom: 1px solid #e8e8e8; height: 10px; margin: 0 auto;
}

.member .row-content {
	min-height: 140px; padding: 0 10px 10px;
}

.category-left {
	position: absolute; left: -143px; top: 220px; width: 143px; overflow: hidden;
}

.category-left dd {
	position: relative; height: 17px; color: #fff; left: 110px; margin: 0px 0 6px; padding: 8px 0px; border-radius: 5px; cursor: pointer;
}

.category-left dd.skin01 {
	background-color: #348ACA;
}

.category-left dd.skin02 {
	background-color: #72B0B7;
}

.category-left dd.skin03 {
	background-color: #E76B60;
}

.category-left .icon {
	width: 20px; height: 20px; float: left;
}

.category-left .label {
	font-size: 14px; color: #fff; text-shadow: 1px 1px 1px #fdd6a7; font-weight: 400; margin-left: 12px;
}

.clear {
	clear: both; height: 0; display: block;
}

.porject-card .blue {
	color: #278ff1;
}

.porject-card .gray {
	color: #888888;
}

.porject-card .orange {
	color: #ff9000;
}

.porject-card:hover {
	/*-ms-transform: scale(0.97, 0.97);*/ /* IE 9 */
	/*-webkit-transform: scale(0.97, 0.97);*/ /* Chrome, Safari, Opera */
	/*transform: scale(0.97, 0.97);*/
	
}

.porject-card:nth-child(3n+0) {
	margin: 0px 0px 5px 0px;
}

.porject-card {
	font-size: 11px; cursor: pointer; box-shadow: 1px 2px 1px #ccc; display: inline-block; height: 240px; margin: 0px 5px 5px 0px; background: #fff; padding: 0; position: relative;
	font-family: Arial Narrow, SimHei;
}

.porject-card #projectName {
	position: absolute; left: 6px; top: 112px; font-size: 14px; width: 160px;
}

.porject-card #projectProgress {
	position: absolute; right: 6px; top: 105px;
}

.porject-card #projectSection {
	height: 30px; width: 30px;
}

.porject-card #investment-title {
	position: absolute; left: 6px; top: 140px;
}

.porject-card #investment {
	position: absolute; left: 6px; top: 154px;
}

.porject-card #areaOfStructure-title {
	position: absolute; left: 86px; top: 140px;
}

.porject-card #areaOfStructure {
	position: absolute; left: 86px; top: 154px;
}

.porject-card #expectedStartTime {
	position: absolute; left: 136px; width: 70px; text-align: right; top: 140px; font-size: 10px;
}

.porject-card #expectedFinishTime {
	position: absolute; left: 136px; width: 70px; text-align: right; top: 154px; font-size: 12px;
}

.porject-card #map {
	position: relative; left: 0px; top: 0px; padding: 6px; background: #fff;
}

.porject-card #map img {
	width: 200px;
}

.porject-card .mappoint {
	position: absolute; left: 6px; bottom: 46px; width: 20px; height: 20px; background: url(../images/arrow-gps.png) no-repeat;
}

.porject-card #district {
	position: absolute; left: 30px; bottom: 46px; font-size: 12px;
}

.porject-card #province_city {
	position: absolute; left: 97px; bottom: 46px; text-align: left; width: 85px;
}

.porject-card .focus {
	position: absolute; left: 0px; top: 0px; width: 70px; height: 70px; background: gray; top: 0px;
}

.porject-card .btn {
	position: absolute; background: #ddd; height: 40px; bottom: 0px; left: 0px; width: 100%;
}

.porject-card .btn>div {
	height: 30px; width: 140px; position: relative; border-radius: 8px; text-align: center; margin: 0px auto; margin-top: 5px;
}

.porject-card .btn>.on {
	background: #00B2FF;
}

.porject-card .btn>.off {
	background: #6EB641;
}

.porject-card .btn>div>.label {
	font-size: 16px; margin-top: 6px; display: inline-block;
}

.endOfPage {
	display: none;
}