.left-tips .icon {
	margin-left: 9px;
}

.skin01 .icon {
	background: url(../images/icon1.png) no-repeat -200px -722px;
}

.skin02 .icon {
	background: url(../images/icon1.png) no-repeat -250px -722px;
}

.skin03 .icon {
	background: url(../images/icon1.png) no-repeat -299px -722px;
}

.skin04 .icon {
	background: url(../images/icon1.png) no-repeat -340px -722px;
}

.triangle {
	width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-top: 15px solid #c4c4c4; position: relative; left: 52px; top: -3px;
}

.poster_bar {
	position: absolute; top: 118px; height: 24px; line-height: 24px; right: 20px; width: 240px; text-align: right;
}

.post_btn {
	padding: 2px 20px; background-color: #3488C7; color: #fff; border-radius: 3px; margin-right: 5px; cursor: pointer;
}

.attach {
	margin: 0px 3px 0 -4px; display: inline-block; padding: 0px; height: 22px; line-height: 22px; position: relative; padding-left: 21px; cursor: pointer; border-radius: 5px;
}

.attach:hover {
	background: #0f6099; color: #fff;
}

.cmps {
	background: url(../images/icon1.png) no-repeat -156px -724px; width: 17px; height: 13px; overflow: hidden; position: absolute; left: 5px; top: 5px;
}

.clear {
	clear: both; height: 0; display: block;
}

.font12 {
	font-size: 12px;
}

.font14 {
	font-size: 14px;
}

.font16 {
	font-size: 16px;
}

.trends_tab {
	display: inline-block; height: 50px; width: 50px; font-size: 12px; margin-right: 10px; cursor: pointer;
}

.trends_tab .trend {
	background: url(../images/icon1.png) no-repeat -24px -715px; height: 30px; width: 50px; display: inline-block;
}

.trends_tab .product {
	background: url(../images/icon1.png) no-repeat -92px -717px; height: 30px; width: 50px; display: inline-block;
}
/**
**评论
**/
.trend_comments {
	border-top: 1px solid #ddd; max-height: 315px; overflow-y: auto;
}

.comment-row {
	padding: 5px;
}

.comment-row img {
	width: 40px; height: 40px; margin-left: 10px;
}

.comment-row .left {
	float: left;
}

.comment-row .right {
	float: right;
}

/**
**个人动态
**/
.row-friend {
	background: #F7F7F7;
}

.friend-trends {
	padding: 8px 8px 0px 8px; min-height: 80px;
}

.friend-trends .image img {
	width: 100%;
}

.friend-trends .f_avatar {
	width: 15%; text-align: center;
}

.friend-trends .left {
	float: left;
}

.friend-trends .f_avatar img {
	width: 50px; height: 50px; border-radius: 25px;
}

.friend-trends .right {
	float: right;
}

.friend-trends .content {
	width: 85%;
}

.friend-trends .content>div {
	padding: 5px 0px;
}

.friend-trends .tools_bar {
	padding: 5px 0px;
}
/**
**产品动态
**/
.row-product {
	background: #F7F7F7;
}

.product-trends {
	padding: 8px; min-height: 80px;
}

.product-trends .p_avatar {
	width: 15%; text-align: center;
}

.product-trends .p_avatar img {
	width: 50px; height: 50px; border-radius: 25px;
}

.product-trends .left {
	float: left;
}

.product-trends .right {
	float: right;
}

.product-trends .content {
	width: 85%;
}

.product-trends #content {
	word-break: break-all;
}

.product-trends .content>div {
	padding: 5px 0px;
}

.product-trends .tools_bar {
	padding: 5px 0px;
}
/**
**项目动态
**/
.row-project {
	background: #F7F7F7;
}

.project-trends {
	padding: 8px; min-height: 80px;
}

.project-trends .p_avatar {
	width: 15%; text-align: center;
}

.project-trends .p_avatar img {
	width: 50px; height: 50px; border-radius: 25px;
}

.project-trends .left {
	float: left;
}

.project-trends .right {
	float: right;
}

.project-trends .content {
	width: 85%;
}

.project-trends .content>div {
	padding: 5px 0px;
}

.project-trends .tools_bar {
	padding: 5px 0px;
}

/**
**公司动态
**/
.row-company {
	background: #F7F7F7;
}

.company-trends {
	padding: 8px; min-height: 100px;
}

.company-trends .image img {
	width: 100%;
}

.company-trends .f_avatar {
	width: 15%; text-align: center;
}

.company-trends .left {
	float: left;
}

.company-trends .f_avatar img {
	width: 50px; height: 50px; border-radius: 25px;
}

.company-trends .right {
	float: right;
}

.company-trends .content {
	width: 85%;
}

.company-trends .content>div {
	padding: 5px 0px;
}

.company-trends .tools_bar {
	padding: 5px 0px;
}

/**
** 回复评论
**/
.reply_trends {
	padding: 5px 10px 10px 15px;
}

.reply_trends-input {
	display: inline-block;
}

.reply_trends-field {
	width: 485px; height: 30px; margin: 0px; padding: 0px; padding-left: 10px;
}

.reply_trends-button {
	color: #fff; height: 32px; width: 94px; background: #65B055; display: inline-block; margin: 0px auto; text-align: center; vertical-align: middle; cursor: pointer;
}

.reply_trends-button>span {
	display: inline-block; margin-top: 7px;
}