.user-info {
	height: 260px; background: #F7F7F7;
}

.left {
	float: left;
}

.right {
	float: right;
}

.user-info .left {
	width: 25%; height: 100%;
}

.user-info .right {
	width: 75%; height: 100%;
}

.right>div:first-child {
	padding: 15px 0px 5px 0px;
}

.right select {
	width: 120px;
}

.right>div {
	padding: 5px 0px;
}

.right input.birthday {
	width: 112px; height: 20px; padding-left: 5px;
}

.right input.field {
	height: 20px; width: 250px; padding-left: 5px;
}

.user_head {
	text-align: center; padding-top: 35px;
}

.user_head img {
	width: 100px; height: 100px; border-radius: 50px;
}

.row.btn {
	padding: 10px 0px; cursor: pointer; height: 22px; line-height: 22px; vertical-align: top;
}

.row.btn .icon {
	display: inline-block; margin: 0px 7px; width: 22px; height: 22px;
}

.person-info-icon {
	background: url(../images/icon1.png) no-repeat -272px -556px;
}

.work-project-icon {
	background: url(../images/icon1.png) no-repeat -368px -554px;
}

.person-focus-icon {
	background: url(../images/icon1.png) no-repeat -460px -552px;
}

.relationship {
	height: 130px;
}

.content {
	padding-top: 25px; padding-left: 50px; font-size: 12px;
}

.content div {
	padding: 10px 0px;
}

.info-header {
	padding: 20px 0px 5px 0px; border-bottom: 1px solid #ddd; margin-left: 20px;
}

.data-block {
	border-bottom: 1px solid #ddd;
}

.person-info {
	margin: 20px 0px 0px 50px;
}

.person-info td {
	padding: 8px;
}

.person-info input[type='text'] {
	height: 20px; width: 250px; padding-left: 5px;
}

.person-info select {
	width: 80px;
}

.person-info .introduce {
	height: 100px; width: 440px; resize: none;
}

/* .person-info #introduce {
	display: none;
} */
.person-info #edit {
	display: none;
}

.clear {
	clear: both; height: 0; display: block;
}

.user_head .attach {
	background: #fff; padding: 5px 25px; display: inline-block; margin-top: 5px; cursor: pointer; color: #3399CC;
}

.panel-shadow {
	background: #F7F7F7;
}

.ui-datepicker {
	font-size: 12px; box-shadow: 0px 10px 13px #888;
}