.user-info {
	height: 260px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.user-info .left {
	width: 25%; height: 100%;
}

.user-info .right {
	width: 75%; height: 100%;
}

.right>div:first-child {
	padding: 15px 0px 5px 0px;
}

.right select {
	width: 120px;
}

.right>div {
	padding: 5px 0px;
}

.right input[type='text'] {
	height: 20px; width: 250px; padding-left: 5px;
}

.user_head {
	text-align: center; padding-top: 35px;
}

.user_head img {
	width: 100px; height: 100px; border-radius: 50px;
}

.row.panel-shadow.btn {
	padding: 10px 0px; cursor: pointer;
}

.relationship {
	height: 130px;
}

.content {
	padding-top: 25px; padding-left: 50px; font-size: 12px;
}

.content div {
	padding: 10px 0px;
}

.info-header {
	padding: 20px 0px 5px 0px; border-bottom: 1px solid #ddd; margin-left: 20px;
}

.company-info {
	margin: 5px 0px 0px 20px;
}

.company-info td {
	padding: 8px;
}

.company-info .companyDescription {
	height: 100px; width: 440px; resize: none;
}

.clear {
	clear: both; height: 0; display: block;
}

.user_head .attach {
	padding: 5px 10px; display: inline-block; margin-top: 5px; cursor: pointer; color: #666; font-size: 12px; border: 1px solid #666;
}

.panel-shadow {
	background: #F7F7F7;
}

.save-btn {
	background: #9ED073; border: 0; border-radius: 3px; color: #fff;
}

.cancel-btn {
	background: #E4E6E5; border: 0; border-radius: 3px; color: #888A89;
}

.panel-btn {
	padding: 15px 0px; box-shadow: 1px 2px 2px #AAA;
}

.row.panel-btn .icon {
	display: inline-block; width: 22px; height: 22px; vertical-align: middle; margin: 0px 5px;
}

.company-project-icon {
	background: url(../images/icon2.png) no-repeat -122px -990px;
}

.company-emp-icon {
	background: url(../images/icon2.png) no-repeat -45px -990px;
}

.company-focus-icon {
	background: url(../images/icon2.png) no-repeat -185px -990px;
}