.my-company {
	height: 156px;
}

.company-info {
	background: #F7F7F7;
}

.company-bottom {
	height: 20px; background: #EBE9EA;
}

.clear {
	clear: both; height: 0; display: block;
}

.company-info img {
	width: 210px; height: 130px; float: left; margin: 3px
}

.company-intro {
	float: right; width: 65%;
}

.company-desc {
	height: 99px; padding: 3px 0px 0px 0px;
}

.company_t {
	padding-left: 216px;
}

.company_t table {
	width: 100%;
}

.left-tag {
	position: absolute; left: -143px; top: 176px; width: 143px; overflow: hidden;
}

.left-tag  dd {
	position: relative; height: 17px; color: #fff; left: 110px; margin: 0 0 5px; padding: 5px 0px; border-radius: 6px; cursor: pointer;
}

.left-tag  dd.skin01 {
	background: #3A88B9;
}

.left-tag  dd.skin02 {
	background: #70AFB6;
}

.left-tag  dd.skin03 {
	background: #DE6F59;
}

.left-tag  .icon {
	width: 20px; height: 20px; float: left;
}

.left-tag  .label {
	font-size: 14px; color: #ffffff; text-shadow: 1px 1px 1px #fdd6a7; font-family: Lantinghei SC, Hei, Sans-serif; font-weight: 400; margin-left: 13px;
}

.employee-card:nth-child(3n+0) {
	margin: 0px 0px 10px 0px;
}

.employee-card {
	position: relative; font-size: 11px; box-shadow: 1px 2px 1px #ccc; display: inline-block; height: 150px; margin: 0px 10px 10px 0px; background: #fff; padding: 0px; width: 200px;
}

.employee-card .person-head {
	height: 60px; margin: 0px auto; text-align: center; margin-top: 10px
}

.employee-card>p {
	text-align: center; padding: 4px;
}

.employee-card .person-head img {
	height: 60px; width: 60px; border-radius: 30px;
}

.employee-card:hover .focus .off {
	display: block;
}

.employee-card .focus {
	position: absolute; left: 0px; top: 0px; width: 45px; height: 45px;
}

.focus .on {
	width: 100%; height: 100%; background: url(../images/focused.png) no-repeat transparent;
}

.focus .off {
	width: 100%; height: 100%; background: url(../images/tofocused.png) no-repeat transparent; display: none;
}

.images img {
	width: 100%;
}

.focus-company-card {
	display: inline-block; width: 155px; margin-bottom: 8px; font-size: 14px;
}

.focus-company-card img {
	height: 50px; width: 50px; float: left; padding: 0px 10px; vertical-align: top;
}

.focus-company-card::after {
	clear: both; height: 0; display: block; content: "";
}

.focus-company-card>span {
	display: inline-block;
}

.focus-company-card .btn_focus {
	border: 1px solid #ddd; padding: 2px 5px; margin-top: 3px; cursor: pointer;
}

/**
**公司动态
**/
.company-trends {
	padding: 8px; min-height: 100px;
}

.company-trends .image img {
	width: 100%;
}

.company-trends .f_avatar {
	width: 15%; text-align: center;
}

.company-trends .left {
	float: left;
}

.company-trends .f_avatar img {
	width: 50px; height: 50px; border-radius: 25px;
}

.company-trends .right {
	float: right;
}

.company-trends .content {
	width: 85%;
}

.company-trends .content>div {
	padding: 5px 0px;
}

.company-trends .tools_bar {
	padding: 5px 0px;
}
/**
**评论
**/
.comment-row {
	padding: 5px;
}

.comment-row img {
	width: 40px; height: 40px; margin-left: 10px;
}

.comment-row .left {
	float: left;
}

.comment-row .right {
	float: right;
}

/**
** 回复评论
**/
.reply_trends {
	padding: 0px 10px 10px 15px;
}

.reply_trends-input {
	display: inline-block;
}

.reply_trends-field {
	width: 485px; height: 30px; margin: 0px; padding: 0px; padding-left: 10px;
}

.reply_trends-button {
	color: #fff; height: 32px; width: 94px; background: #65B055; display: inline-block; margin: 0px auto; text-align: center; vertical-align: middle; cursor: pointer;
}

.reply_trends-button>span {
	display: inline-block; margin-top: 7px;
}

/**
**公司关注
**/
.company-card:nth-child(3n+0) {
	margin: 0px 0px 5px 0px;
}

.company-card {
	position: relative; font-size: 11px; box-shadow: 1px 2px 1px #ccc; display: inline-block; height: 160px; margin: 0px 5px 5px 0px; background: #fff; padding: 0px; width: 203px;
}

.company-card .company-logo {
	height: 60px; margin: 0px auto; text-align: center; margin: 10px 0px;
}

.companyName {
	font-size: 16px;
}

.company-card p {
	text-align: center; padding: 6px 0px;
}

.company-card .company-logo img {
	height: 60px; width: 60px; border-radius: 30px;
}

.company-card:hover .btn .off {
	display: block;
}

.company-card .btn {
	height: 45px; top: 0px; left: 0px; width: 45px; position: absolute;
}

.btn .on {
	width: 100%; height: 100%; background: url(../images/focused.png) no-repeat transparent;
}

.btn .off {
	width: 100%; height: 100%; background: url(../images/tofocused.png) no-repeat transparent; display: none;
}