.company-info {
	height: 175px; background: #F7F7F7;
}

.company-info .top {
	height: 150px;
}

.company-info .hr {
	height: 25px; background: #ddd;
}

.company-info img {
	height: 150px; vertical-align: top; float: left;
}

.company-info p {
	font-size: 14px;
}

.clear {
	clear: both; height: 0; display: block;
}

.block-row {
	background: #F8F8F8;
}

.block-row .icon-linked {
	background: url('../images/create_company.png'); width: 20px; height: 20px; float: left; margin-right: 5px; margin-top: 5px;
}

.block-row .row-header {
	padding-top: 10px; margin: 0px 10px 10px 10px; height: 28px; line-height: 28px;
}

.block-row .row-content {
	min-height: 118px; padding: 0 10px 10px; text-align: center;
}

.block-row .row-header .hr {
	clear: both; width: 95%; border-bottom: 1px solid #e8e8e8; height: 10px; margin: 0 auto;
}

.block-row .botton {
	color: #fff; margin-top: 40px; padding: 6px 30px; background: #64B151; border-radius: 5px; cursor: pointer; display: inline-block;
}

.company-card:nth-child(3n+0) {
	margin: 0px 0px 5px 0px;
}

.company-card {
	position: relative; font-size: 11px; box-shadow: 1px 2px 1px #ccc; display: inline-block; height: 160px; margin: 0px 5px 5px 0px; background: #F5F7F6; padding: 0px; width: 203px;
}

.company-card .company-logo {
	height: 60px; margin: 0px auto; text-align: center; margin: 10px 0px;
}

.companyName {
	font-size: 16px;
}

.company-card p {
	text-align: center; padding: 6px 0px;
}

.company-card .company-logo img {
	height: 60px; width: 60px; border-radius: 30px;
}

.company-card:hover .btn .off {
	display: block;
}

.company-card .btn {
	height: 45px; top: 0px; left: 0px; width: 45px; position: absolute;
}

.btn .on {
	width: 100%; height: 100%; background: url(../images/focused.png) no-repeat transparent;
}

.btn .off {
	width: 100%; height: 100%; background: url(../images/tofocused.png) no-repeat transparent; display: none;
}