.left-row {
	width: 300px; float: left; position: relative; margin: 20px 0;
}

.right-row {
	width: 620px; float: right; position: relative; margin: 20px 0px 20px 20px;
}

.user-info {
	height: 228px; font-size: 14px; background: #F5F5F5;
}

.info-tips {
	font-size: 14px; background: #F5F5F5;
}

.info-tips>div {
	text-align: center;
}

.user_head {
	padding: 6px 0px;
}

.user_head img {
	height: 100px; width: 100px; border-radius: 50px;
}

.nick_name {
	font-size: 18px;
}

.tools {
	padding: 6px 0px; background: #E9E7E8;
}

.tools .edit-btn {
	margin-left: 20px; color: #EC797C; text-decoration: none;
}

.tools .focus-btn {
	color: #F5AF53; text-decoration: none;
}

.tools .focus-btn .icon {
	background: url(../images/profile_focus.png) no-repeat;
}

.tools .edit-btn .icon {
	background: url(../images/profile_edit.png) no-repeat;
}

.tools .icon {
	width: 17px; height: 17px; display: inline-block; margin-right: 0px; vertical-align: middle;
}

.clear {
	clear: both; height: 0; display: block;
}

.user-info>div {
	padding: 15px 0px 0px 15px;
}

.user-info .title {
	font-size: 16px; font-weight: 600;
}

.user-info .duties {
	padding: 15px 0px 15px 0px;
}

.user-info .companyName,.work_day {
	color: #888;
}