.seminars-card {
	margin: 0px 0px 15px 10px; cursor: pointer;
}

.seminars-card .seminarName {
	float: left;
}

.seminars-card .projectCounts {
	float: right; color: #fff; text-align: center; border-radius: 2px; padding: 2px 5px; font-size: 12px; background: gray;
}

.seminars_detail {
	height: 250px;
}

.information .row-header {
	padding-top: 10px; position: relative; margin: 0px 10px 10px 10px;
}

.information .row-header i.left {
	float: left;
}

.information .row-header span {
	float: left; margin: 3px 0 0 5px;
}

.information .row-header .hr {
	clear: both; width: 95%; border-bottom: 1px solid #e8e8e8; height: 10px; margin: 0 auto;
}

.information .row-content {
	min-height: 140px; padding: 0 10px 10px;
}

.clear {
	clear: both; height: 0; display: block;
}

.seminars_name {
	font-size: 18px; float: left;
}

.seminars_projectCounts {
	font-size: 16px; float: right; width: 160px; text-align: right; padding-right: 10px;
}

.seminars_image {
	text-align: center; width: 50%; margin: 0px 10px 10px 10px; float: left;
}

.seminars_image img {
	height: 200px; width: 100%;
}

.seminars_desc {
	float: right; width: 46%; word-break: break-all; word-wrap: break-word;
}

.seminars_time {
	position: relative; bottom: 25px; left: 555px; font-size: 12px; display: inline-block;
}

.seminars_trip {
	margin-top: 10px;
}

.content dl {
	
}

.content dl dd {
	width: 212px; height: 200px; margin: 0px 10px 10px 0px; float: left; font-size: 11px;
}

.content dl dd:nth-child(3n+0) {
	margin: 0px 0px 10px 0px;
}

.porject-card {
	font-size: 12px; cursor: pointer; box-shadow: 1px 2px 1px #ccc;
}

.porject-card .blue {
	color: #278ff1;
}

.porject-card .gray {
	color: #888888;
}

.porject-card .orange {
	color: #ff9000;
}

.porject-card {
	background: #F5F7F6; padding: 0; position: relative; font-family: Arial Narrow, SimHei;
}

.porject-card #projectName {
	position: absolute; left: 6px; top: 112px; font-size: 14px; width: 160px;
}

.porject-card #projectProgress {
	position: absolute; right: 6px; top: 105px;
}

.porject-card #projectSection {
	height: 30px; width: 30px;
}

.porject-card #investment-title {
	position: absolute; left: 6px; top: 140px;
}

.porject-card #investment {
	position: absolute; left: 6px; top: 154px;
}

.porject-card #areaOfStructure-title {
	position: absolute; left: 86px; top: 140px;
}

.porject-card #areaOfStructure {
	position: absolute; left: 86px; top: 154px;
}

.porject-card #expectedStartTime {
	position: absolute; left: 136px; width: 70px; text-align: right; top: 140px; font-size: 10px;
}

.porject-card #expectedFinishTime {
	position: absolute; left: 136px; width: 70px; text-align: right; top: 154px; font-size: 12px;
}

.porject-card #map {
	position: absolute; left: 0px; top: 0px; padding: 6px;
}

.porject-card #map img {
	width: 200px;
}

.porject-card .mappoint {
	position: absolute; left: 6px; bottom: 6px; width: 20px; height: 20px; background: url(../images/arrow-gps.png) no-repeat;
}

.porject-card #district {
	position: absolute; left: 30px; bottom: 6px; font-size: 12px;
}

.porject-card #province_city {
	position: absolute; left: 97px; bottom: 6px; text-align: left; width: 85px;
}

.porject-card .focus {
	position: absolute; left: 0px; top: 0px; width: 45px; height: 45px;
}

.porject-card .focus .on {
	width: 100%; height: 100%; background: url(../images/focused.png) no-repeat transparent;
}

.porject-card .focus .off {
	width: 100%; height: 100%; background: url(../images/tofocused.png) no-repeat transparent; display: none;
}

.porject-card:hover .focus .off {
	display: block;
}

.endOfPage {
	display: none;
}