.user-info {
	height: 160px; font-size: 14px;
}

.user-info .user_head {
	height: 120px; width: 120px; float: left; margin: 20px 20px; border-radius: 60px;
}

.user-info .data-panel {
	height: 160px; width: 486px; display: inline-block;
}

.user-info .data-panel>div {
	padding-top: 20px;
}

.user-info .data-panel .user_name .left {
	float: left; width: 50%;
}

.user-info .data-panel .user_name .right {
	float: right; width: 50%;
}

.user-info .data-panel .user_op .left {
	float: left; width: 50%;
}

.user-info .data-panel .user_op .right {
	float: right; width: 50%;
}

.user-info .data-panel .user_op a {
	color: #00f; text-decoration: none;
}

.user-info .data-panel .reg_time {
	border-bottom: 1px solid #ddd; padding-bottom: 5px;
}
/**
**
**/
.tips {
	height: 160px;
}

.tips>div:nth-child(1n) {
	padding-left: 15px; padding-top: 15px;
}

.tips>div:nth-child(2n) {
	padding: 15px 0px 15px 15px;
}

.clear {
	clear: both; height: 0; display: block;
}

.control-panel {
	background: #fff; padding: 10px; height: 450px; box-shadow: 2px 2px 2px #AAA;
}

.control-panel .title {
	height: 20px;
}

.control-panel .title .left {
	float: left; width: 70%;
}

.control-panel .title .right {
	float: right; width: 30%; text-align: right;
}

.control-panel .title .btn {
	margin: 0px 2px; padding: 3px 10px; font-size: 14px; cursor: pointer;
}

.save-btn {
	background: #9ED073; border: 0; border-radius: 3px; color: #fff;
}

.cancel-btn {
	background: #E4E6E5; border: 0; border-radius: 3px; color: #888A89;
}

.control-panel .col-one .content {
	border-radius: 3px; font-size: 13px; margin-right: 10px; background: #F1F3F2; padding-left: 10px; height: 80px;
}

.control-panel .col-one .btn {
	padding-top: 10px;
}

.control-panel .col-one .left {
	float: left; width: 50%;
}

.control-panel .col-one .right {
	float: right; width: 50%;
}

.control-panel .col-one .title {
	font-weight: 500;
}

.control-panel .col-two {
	margin-top: 20px;
}

.control-panel .col-two .title {
	font-weight: 500;
}

.control-panel .col-two .left {
	float: left; width: 50%;
}

.control-panel .col-two .right {
	float: right; width: 50%;
}

.control-panel .col-two .content {
	border-radius: 3px; font-size: 13px; margin-right: 10px; background: #F1F3F2; padding-left: 10px; height: 260px;
}

.control-panel .col-two .content .btn {
	padding-top: 10px;
}

.control-panel .col-two .content .card {
	margin: 15px 0px 5px 0px;
}

.control-panel .col-two .content .card img {
	width: 50px; height: 50px; border-radius: 25px; float: left; margin: 0px 10px;
}

.notify {
	background: #fff;
}

.notify .title {
	height: 20px; padding: 10px 10px 0px 5px;
}

.notify .title .left {
	float: left; width: 40%;
}

.notify .title .right {
	float: right; width: 60%; text-align: right;
}

.notify .title .btn {
	margin: 0px 2px; padding: 3px 10px; font-size: 14px; cursor: pointer;
}

.notify .function-row {
	padding: 0px 10px 10px 10px;
}

.notify .function-row .title {
	height: 20px; padding: 0px; font-weight: 500;
}

.notify .function-row .content {
	font-size: 13px; background: #F1F3F2; padding: 5px 0px; padding-left: 10px; border-radius: 3px;
}

.notify .function-row .content .btn:first-child {
	padding-top: 0px;
}

.notify .function-row .content .btn {
	padding-top: 10px;
}

.setting {
	
}

.setting .title {
	padding: 10px;
}

.setting .items {
	padding-left: 30px;
}

.setting .items>a {
	display: block; padding-bottom: 15px;
}

.yskz-icon {
	margin-right: 5px; background: url(../images/icon1.png) no-repeat -27px -463px; width: 20px; height: 20px; display: inline-block; vertical-align: middle;
}

.notify-icon {
	margin-right: 5px; background: url(../images/icon1.png) no-repeat -166px -462px; width: 20px; height: 20px; display: inline-block; vertical-align: middle;
}

.btn .check {
	background: url('../images/icon1.png') no-repeat -118px -466px; width: 13px; height: 13px; display: inline-block; vertical-align: middle; margin-right: 5px;
}

.btn .check.uncheck {
	
}

.btn .check.checked {
	background-position-x: -83px; background-position-y: -466px;
}

.tips-text {
	word-break: break-word; padding-top: 8px; color: #999;
}

.hr {
	margin-bottom: 5px; border-bottom: 1px solid #ddd; margin-left: 27px; margin-top: 5px;
}